.*
!.gitconfig
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out

Attic/

src/
env/

# Output by the pipeline, but not tracked
results/expression_meanF/violin-plot_meanF-by-target.pdf
results/final_variant_scores/*.pdf
results/structural_mapping
