results/variants/codon_variant_table.csv filter=lfs diff=lfs merge=lfs -text
results/counts/variant_counts.csv filter=lfs diff=lfs merge=lfs -text
results/aggregated_counts/prepped_variant_counts.csv filter=lfs diff=lfs merge=lfs -text
results/aggregated_counts/prepped_barcode_counts.csv filter=lfs diff=lfs merge=lfs -text

# Track all notebooks via LFS
*.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata

results/binding_Kd/variant_binding.csv filter=lfs diff=lfs merge=lfs -text
results/expression_meanF/variant_expression.csv filter=lfs diff=lfs merge=lfs -text
results/final_variant_scores/final_variant_scores.csv filter=lfs diff=lfs merge=lfs -text

# temporary for titeseq modeling prototype
tite-seq-modeling/output/final_variant_scores.csv filter=lfs diff=lfs merge=lfs -text
tite-seq-modeling/tite-seq-modeling.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata
# TODO remove after collapse dev
results/binding_Kd/bc_binding.csv filter=lfs diff=lfs merge=lfs -text
results/expression_meanF/bc_expression.csv filter=lfs diff=lfs merge=lfs -text
